*{

}

:root{
    font-family: "Inter", serif;
    line-height: 150%;
}

body{
    background-image: url(./assets/imagem-fundo.png);
    background-size: cover;
}

#page{
    box-sizing: border-box;
    width: 800px;
    padding: 24px;
    background-color:#e1a84669;
    border-radius: 24px;
    margin: 48px auto;


}


img{
    border-radius: 16px;
}

main{
    padding: 24px;
}

section +section{
    margin-top: 24px;
}

.container {
    justify-content: space-around;
    display: flex;  /* Faz os itens ficarem um ao lado do outro */
   
    
}

.item {
    background-color: #daae62;  /* Cor de fundo (pode trocar para a cor que preferir) */
    padding: 10px 20px;  /* Espaçamento interno */
    border-radius: 25px;  /* Bordas arredondadas */
    font-size: 16px;  /* Tamanho da fonte */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* Sombra para dar destaque */
   
   
}


#about p + p{
    margin-top: 12px;
}

h1{
    line-height: 140%;
    font-size: 40px;
    margin-bottom: 4px;
}
h2{
    font-size: 24px;
    margin-bottom: 4px;
}

ul{
    padding-left: 24px;
}

footer{
 text-align: center;
}
